example/local_mihome_flows.json
[{"id":"fdcbe78c.4b03c","type":"tab","label":"AirQuality","disabled":false,"info":""},{"id":"8737912","type":"mihome-SendCommand","z":"fdcbe78c.4b03c","name":"send command upstairs","xiaomiId":"12341234","model":"zhimi.airpurifier.vb2","address":"192.168.1.10","token":"abcdabcdabcdabcdabcdabcdabcdabcd","x":710,"y":320,"wires":[["8e89fc27.bd258"]]},{"id":"12341234","type":"mihome-getdata","z":"fdcbe78c.4b03c","name":"get data upstairs","xiaomiId":"12341234","model":"zhimi.airpurifier.vb2","address":"192.168.1.10","token":"abcdabcdabcdabcdabcdabcdabcdabcd","x":330,"y":400,"wires":[["6ec90484.311fe4","c0cf6bef.c804b8"]]},{"id":"685aba5d.307c54","type":"inject","z":"fdcbe78c.4b03c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":240,"wires":[["55a648f2.a56d28"]]},{"id":"8e89fc27.bd258","type":"debug","z":"fdcbe78c.4b03c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1130,"y":320,"wires":[]},{"id":"ac71c37d.290ee8","type":"inject","z":"fdcbe78c.4b03c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":320,"wires":[["b6f49e16.7ce48"]]},{"id":"b6f49e16.7ce48","type":"function","z":"fdcbe78c.4b03c","name":"set fanspeed","func":"msg = { \n    payload: {\n        'air-purifier:mode':2,\n        'motor-speed:favorite-level':2,\n        'air-purifier:on': true\n    }\n};\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":320,"wires":[["8737912"]]},{"id":"6ec90484.311fe4","type":"function","z":"fdcbe78c.4b03c","name":"Check particle count and set fanspeed","func":"var date = new Date();\n//var seconds = date.getSeconds();\n//var minutes = date.getMinutes();\nvar hour = date.getHours();\n//msg.hours = hour;\nif (msg.payload.hasOwnProperty('environment:pm2.5-density')) {\n    //if particle count is high, then increase fan speed\n    if (msg.payload[\"environment:pm2.5-density\"] >= 5) {\n        msg.payload = {\n            'air-purifier:mode':2,\n            'motor-speed:favorite-level':4,\n            'air-purifier:on': true\n        };\n    } else {\n        //particle count is low, but for a specific time at night increase speed anyway\n        if (hour > 1 && hour < 3){\n            msg.payload = {\n                'air-purifier:mode':4,\n                'motor-speed:favorite-level':2,\n                'air-purifier:on': true\n            };\n        } else {\n            msg.payload = {\n                'air-purifier:mode':2,\n                'motor-speed:favorite-level':2,\n                'air-purifier:on': true\n            };\n        }\n    }\n    return msg;\n} else {\n    //msg.payload = 'not available';\n    //return msg;// block of code to be executed if the condition is false\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":440,"wires":[["d3d12bc6.5c58f8"]]},{"id":"736771e.c46de1","type":"debug","z":"fdcbe78c.4b03c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1130,"y":240,"wires":[]},{"id":"34f7ec46.367ecc","type":"inject","z":"fdcbe78c.4b03c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"600","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":400,"wires":[["12341234"]]},{"id":"d3d12bc6.5c58f8","type":"mihome-SendCommand","z":"fdcbe78c.4b03c","name":"send command upstairs","xiaomiId":"12341234","model":"zhimi.airpurifier.vb2","address":"192.168.1.10","token":"abcdabcdabcdabcdabcdabcdabcdabcd","x":930,"y":440,"wires":[["c0cf6bef.c804b8"]]},{"id":"c0cf6bef.c804b8","type":"debug","z":"fdcbe78c.4b03c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1130,"y":400,"wires":[]},{"id":"55a648f2.a56d28","type":"mihome-getdata","z":"fdcbe78c.4b03c","name":"get data upstairs","xiaomiId":"12341234","model":"zhimi.airpurifier.vb2","address":"192.168.1.10","token":"abcdabcdabcdabcdabcdabcdabcdabcd","x":670,"y":240,"wires":[["736771e.c46de1"]]}]